.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  padding: 2px;
}

.App-page {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  padding: 2px;
}
.App-page-form {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  max-width: 500px;
}
.App-page-form > button {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
}

.App-page-form > .field {
  width: 100%;
  max-width: 500px;
}
